<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="NasaDatabaseConnectionString" connectionString="Data Source=DESKTOP-VA256A9;Initial Catalog=NasaDatabase;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime maxRequestLength="1048576" />

  </system.web>
</configuration>